h1 {
    font-family: "Raleway", sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    text-transform: uppercase;
}
h2 {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    font-weight: normal;
    text-transform: uppercase;
}
h3 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
}
h4, h5, h6 {
    font-family: "Cormorant SC", serif;
    font-size: 1.5rem;
    font-weight: bold;
}
p {
    font-family: "Cormorant SC", serif;
    font-size: 1rem;
}

a {
    font-family: "Cormorant SC", serif;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    text-decoration: none;
}
