body {
    background-color: black;
}
/* ****************    MENU   **************** */
.menu {
    width: 100vw;
    height: 100vh;
    background-color: #F8E9D6;
    display: block; //ska vara none här
}

.menu-flexbox {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 3.5rem;
    padding-left: 1.25rem;
    font-size: 4rem;
}

.menu-anchor {
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.menu-kitty {
    position: fixed;
    overflow: hidden;
    bottom: -7px;
    right: -30px;
    padding-left: 20px;
}
