body {
    background-color: #312418;
}
/* ****************    MENU   **************** */
.menu {
    width: 100vw;
    height: 100vh;
    background-color: #F8E9D6;
    display: none;
}

.menu-button {
    height: 100px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    /* KOD FÖR ATT GÖMMA KNAPP
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    */
}

.menu-button-beans {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-flexbox {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 3.5rem;
    padding-left: 1.25rem;
    font-size: 4rem;
}

.menu-anchor {
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.menu-kitty {
    position: fixed;
    overflow: hidden;
    bottom: -7px;
    right: -30px;
    padding-left: 20px;
}

.menu-visible {
    display: block;
}

/* ****************    BREWING METHODS SECTION   **************** */

.brewing-methods-section {
    display: flex;
    flex-direction: column;
    width: 389px;
    margin: 15px;
}

.brewing-methods-heading {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    color:  #F8E9D6;
}

.method-container {
    width: 388px;
}

.method-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 32px;
    color: #F8E9D6;
    margin-top: 50px;
}

.aeropress {
    margin-top: 0;
}

.method-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.method-image {
    object-fit: cover;
    align-items: center;
}

.method-subheading {
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    color: #F8E9D6;
    font-weight: 700;
}

.method-information {
    font-family: "Cormorant", sans-serif;
    font-size: 16px;
    color:  #F8E9D6;;
}

