body {
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
}

.menu-button {
    grid-column: span 4;
}

.menu {
    grid-column: span 4;
}

.brewery-club-section {
    grid-column: span 4;    
}

.book-image-container {
    grid-column: span 4;
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
}

.book-image {
    grid-column: 1 / -1;
    width: 100%;
}

.about-beans-section {
    grid-column: span 4;
    margin-left: 23px;
    margin-right: 23px;
}

.about-beans-heading {
    margin-bottom: 64px;
}

.flip-card-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column: span 4;
    gap: 40px;
    margin-left: 23px;
    margin-right: 23px;
}

.flip-card-container:first-child {
    margin-top: 10px;
}

.flip-card-container {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

.brewing-methods-section {
    grid-column: span 4;
}

.slideshow {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px; 
}

h2 {
    grid-column: 1 / -1;
}

.slide {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    grid-column: span 4;
}

.image-container {
    grid-column: span 4;
}

.image-container img {
    width: 100%;
    height: auto;
}

.text {
    width: 100%;
}


footer {
    grid-column: span 4;
}