

body {
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
}
/* ****************    MENU   **************** */

.menu-button {
    grid-column: span 4;
    z-index: 999;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 998;
    visibility: hidden;
}

.menu-visible {
    visibility: visible;
}


.brown {
    grid-column: 1 / 1;
    background-color: #312418;
}

.menu-kitty {
    bottom: 20px;
    right: 50px;
    padding-left: 10px;
}

/* ******************************** */

.header {
    position: sticky;
    grid-column: 1 / 1;
    background: rgb(49,36,24);
    background: linear-gradient(0deg, rgba(49,36,24,1) 0%, rgba(255,255,255,1) 100%);
    height: 120px;
    width: 100vw;
    z-index: 5;
}


/* ****************    COOKIE   **************** */

.cookie-container {
    display: grid;
    grid-column: span 4;
    width: 95%;
}
.decline-btn {
    width: 160px;
}
.accept-btn {
    width: 160px;
}

/* ****************    BREWING METHODS   **************** */

.brewing-methods-heading {
    color: #F8E9D6;
}
.brewery-club-section {
    grid-column: span 4;    
}
.book-image-container {
    grid-column: span 4;
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
}
.book-image {
    grid-column: 1 / -1;
    width: 100%;
}



/* ------------------- ABOUT THE BEANS SECTION -------------------- */

.about-beans-container {
    grid-column: 1 / span 4;
    margin: 0;
}

.about-beans-heading {
    margin-bottom: 64px;
    color: #F8E9D6;
}

.about-beans-paragraph {
    color: #F8E9D6;;
}

.about-beans-paragraph2 {
    margin-top: 10px;
    color: #F8E9D6;
}


/* ------------------- FLIP CARD SECTION -------------------- */

.flip-card-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column: span 4;
    gap: 40px;
    margin-left: 23px;
    margin-right: 23px;
}


.flip-card-container {
    display: inline-block;
    position: relative;
    width: 310px;
    height: 350px;
    margin-bottom: 42px;
    margin-top: 10px;
    perspective: 600px;
}

.flip-card-container:first-child {
    margin-top: 50px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.flip-card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    border-radius: 2rem;

}

.card-content-front {
    background-color: #142815;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

.front-card-image {
    border-radius: 50%;
    overflow: hidden;
    width: 240px;
    height: 240px;
    object-fit: cover;
    position: absolute; 
    top: 52%; 
    left: 50%; 
    transform: translate(-50%, -35%);

}

.front-card-heading {
    position: absolute;
    top: -3%; 
    left: 50%;
    transform: translateX(-50%);
    color: #F8E9D6;
}

.flip-card-arrows {
    position: absolute;
    top: 88%; 
    right: 5%;
    width: 25px;
    height: 23px;

}

.card-content-back {
    background-color: #9E7147;
    transform: rotateY(180deg);
}


.back-card-heading,
.back-card-information,
.flip-card-button {
    position: absolute;
}

.back-card-heading {
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    color: #F8E9D6;;
}

.back-card-information {
    line-height: 20px;
    width: 240px;
    top: 20%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.flip-card-container:first-child {
    margin-top: 10px;
}

.flip-card-container {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

/* ****************   BREWING METHODS SECTION  **************** */

.brewing-methods-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(13, auto); 
    grid-column: span 4;
}

.brewing-methods-heading {
    margin-left: 40px;
    grid-column: 1 / span 4;
}

.method-heading {
    margin-top: 0;
}

.method-subheading {
    align-self: center;
}

.information-container {
    align-self: center;
}

.method-container {
    display: grid;
    grid-column: span 4;
    grid-row: span 3;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 50px;
}

.method-image {
    width: 385px;
    height: 350px;
}

.method-image-container {
    justify-content: flex-start;
}

.method-information, .method-subheading {
    color: #f8e9d6;
    margin-left: 0;
}

/* *POSITIONING AEROPRESS, COLD BREW & POUR OVER* */

.method-container-aeropress, 
.method-container-cold-brew,
.method-container-pour-over {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto); 
    grid-column: span 4;
    grid-row: span 3;
    margin-top: 20px;
    margin-left: 23px;
    margin-right: 23px;
}

.method-image-container-aeropress, 
.image-container-cold-brew,
.image-container-pour-over {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    justify-content: center;
}

.aeropress, 
.cold-brew,
.pour-over {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
    margin-left: 20px;
}

.information-container-areopress, 
.information-container-cold-brew,
.information-container-pour-over {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
}

.aeropress-image, 
.cold-brew-image,
.pour-over-image
 {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
    justify-content: center;
}

.areopress-subheading, 
.cold-brew-subheading,
.pour-over-subheading {
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    margin-left: 0;
}

.aeropress-method-information, 
.cold-brew-method-information,
.method-information-pour-over {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    margin-left: 0;
}

/* *POSITIONING COFFEEMAKER, FRENCH PRESS & SIPHON* */

.method-container-coffeemaker, 
.method-container-french-press,
.method-container-siphon {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto); 
    grid-column: span 4;
    grid-row: span 3;
    margin-left: 23px;
    margin-right: 23px;
}

.method-image-container-coffeemaker, 
.image-container-french-press,
.image-container-siphon {
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    margin-right: 23px;
}

.coffeemaker, 
.french-press,
.siphon {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    align-self: flex-start;
    margin-left: 0;
}

.information-container-coffemaker, 
.information-container-french-press,
.information-container-siphon {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    margin-left: 0;
    justify-content: center;
}

.coffeemaker-image, 
.french-press-image,
.siphon-image {
    display: grid;
    grid-column: 3 / span 2;
    grid-row: 5 / span 2;
}

.coffemaker-subheading, 
.french-press-subheading,
.siphon-subheading {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    align-self: center;

}

.coffeemaker-method-information, 
.method-information-french-press,
.method-information-siphon {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    margin-right: 30px;
}

.method-container-cold-brew,
.method-container-pour-over  {
    margin-top: 50px;
 }

/* ------------------- SLIDESHOW -------------------- */
.slideshow-section {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    gap: 10px; 
    h2 {
        display: grid;
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
        text-align: left;
        color: #F8E9D6;
        font-size: 64px;
        font-weight: 300;
        text-align: center;
        text-align: left;
        margin-left: 40px;
    }
    .slideshow-slide {
        display: grid;
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, auto);
        gap: 10px; 
        .slideshow-image-container {
            display: grid;
            grid-column: span 4;
            grid-row: 1 / span 1;  
            grid-template-columns: repeat(4, 1fr);
            position: relative;
            img {
                width: 100%;
                max-height: 100%;
                height: 100%;
                object-fit: cover;
            }       
        }
        .slideshow-text {
            margin-top: 0;
            top: 0;
            padding-top: 0;
            display: grid;
            grid-column: 1 / span 1; 
            grid-row: 1 / span 1; 
            align-items: start;
            width: 100%; 
            max-width: 100%;
            overflow: hidden;
            margin: auto;
            position: relative;
            margin-top: 0;
        }
    }
}


/*
.text {
    width: 100%; max-width: 100%;
    overflow: hidden;
    margin: auto;
    position: relative;
    h2 {
        color: #F8E9D6;
        font-size: 64px;
        font-weight: 300;
        text-align: center;
        text-align: left;
        margin-left: 40px;
    }
    
}
*/

.slideshow-buttons-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
    .nextBtn {
        position: absolute;
        top: 50%; 
        transform: translateY(-50%);
        grid-column: 1 / -1;
        width: 100px;
        background: transparent;
        border-style: none;
        color: #F8E9D6;
        right: 5%;
    } 
    .previousBtn {
        position: absolute;
        top: 50%; 
        transform: translateY(-50%);
        grid-column: 1 / -1;
        width: 100px;
        background: transparent;
        border-style: none;
        color: #F8E9D6;
        left: 5%;
    }
}



.slideshow-buttons-container .material-symbols-outlined {
    font-size: 100px;
}
/* *********************  FOOTER   ********************* */

footer {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 20px; 
}
.footer-grid-section-left {
    grid-row: 1;
    grid-column: 1 / span 2; 
    display: grid;
    place-items: left;
    margin-left: 20px;
}
.footer-grid-section-left h3 {
    text-align: left; 
}
.subscribe-form {
    width: 290px;
}
.subscribe-input-position {
   margin-left: 0;
}
.footer-grid-section-right {
    grid-row: 1;
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.footer-menu-container {
    display: flex;
    flex-direction: row;
    align-content: left;
}
.footer-menu-links {
    text-align: left;
}
.footer-grid-bottom {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}