body {
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
}

.menu-button {
    grid-column: span 4;
}

.menu {
    grid-column: span 4;
}

.brewery-club-section {
    grid-column: span 4;    
}

.book-image-container {
    grid-column: span 4;
    display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 10px;
}

.book-image {
    grid-column: 1 / -1;
    width: 100%;
}

.about-beans-section {
    grid-column: span 4;
    margin-left: 23px;
    margin-right: 23px;
}

.about-beans-heading {
    margin-bottom: 64px;
}

.flip-card-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column: span 4;
    gap: 40px;
    margin-left: 23px;
    margin-right: 23px;
}

.flip-card-container:first-child {
    margin-top: 10px;
}

.flip-card-container {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
}

.brewing-methods-section {
    grid-column: span 4;
}

/* ------------------- SLIDESHOW -------------------- */
.slideshow-section {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2;
    gap: 10px; 
    h2 {
        color: #F8E9D6;
        font-size: 64px;
        font-weight: 300;
        text-align: center;
        grid-column: 1 / span 4; 
        grid-row: 1;
        text-align: left;
        margin-left: 40px;
    }
    .slideshow-slide {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2;
        gap: 10px; 
        grid-column: 2 / span 3;
        grid-row: 2;
        .slideshow-image-container {
            grid-column: 2 / span 3; 
            grid-row: 2;
        }
        .slideshow-text {
            grid-column: 1 / span 1; 
            grid-row: 2; 
            align-items: start;
        }
    }
}

/* ------------------- FOOTER ----------------------- */

footer {
    grid-column: span 4;
}